<h1><%= link_to 'TestGuru | Admin Panel', admin_tests_path %></h1>

<p class="nav">
  Welcome, <b><%= current_user.login %></b> Guru! |
  <%= link_to 'Log out', destroy_user_session_path, method: :delete %> 
</p>