<footer>
  <p>
    current year: <%= current_year %><br>
    author: Golovneva Maria<br>
    project: <a href=<%= github_url('en0t-poloskun', 'test-guru') %> rel="nofollow" target="_blank">TestGuru</a>
  </p>

  <p>TestGuru предназначен для создания и выполнения различных тестов.</p>
  <a href="https://thinknetica.com/" rel="nofollow" target="_blank">Учебный проект в онлайн-школе Thinknetica</a>
</footer>