<footer>
  <p>
    current year:<br>
    author: Golovneva Maria<br>
    project:
  </p>

  <p>TestGuru предназначен для создания и выполнения различных тестов.</p>
  <a href="https://thinknetica.com/" rel="nofollow" target="_blank">Учебный проект в онлайн-школе Thinknetica</a>
</footer>